body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    height: 100vh;
}

.container .row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

}

.row div {
    flex: 1 1 auto;
}

.hovered {
    background-color: saddlebrown;
}

.holds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.specs {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

button {
    border-width: 0;
    border-radius: 0;
    padding: 10px;
    flex: 1 1 auto;
    font-weight:400;
    font-size:130%;
}