body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    height: 100vh;
    margin: 0 auto;
    background-color: aliceblue;
}

.container .row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

}

.row div {
    flex: 1 1 auto;

}

.hovered {
    background-color: saddlebrown;
}